<<<<<<< HEAD

  h1{
    color:white;
    font-size:400%;
    text-align: center;
   
=======
body{
  background-color:#FF471A;
  margin: 0px;
  padding: 0px;

}
h1{
  color: white;
  text-align: center;
  font-family:STXihei;
  font-size:350%;
}
p{
  color: white;
  font-size: large;
  margin-left: 300px;
  padding-bottom: 50px;
}
.type1{
  position: absolute;
  top: 40%;
  left: 12%;

}
.type2{
  position: absolute;
  top: 40%;
  left: 38%;

}
.type3{
  position: absolute;
  top: 40%;
  right: 11%;
>>>>>>> 68f28d1f9453c75b671dfee6425d5e4356d755a3

}
.h1 {
   font-family: "Monospace", Lucida Console;
 }
 
p{
     text-align: justify;
     color: white;
     font-size: 18pt;
       margin-top: 50px;
       margin-bottom: 100px;
       margin-right: 200px;
       margin-left: 200px;
   }
.p1{

font-family: "Monospace", Lucida Console;

} 

img {
box-shadow: 25px 20px 10px 0px rgb(0 0 0 / 50%);
  
 }
s
